/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */
 
* {
    box-sizing: border-box;
}

 
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #5b79b9 0%, #a497f0 50%, #fdfcfc 100%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    color: black;
    font-size: 60px;
    text-align: right;
}
 
h2 {
    color: black;
}
 
p {
    color: black;
    align-items: center;
}
 
a {
    color: black;
    text-decoration: none;
}
 
/* ========================================
   CLASSES
   ======================================== */
 
.cargo {
    color: black;
    font-weight: bold;
}
 
.link-social {
    color: rebeccapurple;
}
 
/* ========================================
   SEÇÕES
   ======================================== */
 
#hero {
    padding: 70px;
    margin: 50px;
    /*border: 2px solid black;*/
    /*border-radius: 10px;*/
    text-align: center;
}
 
#hero img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}
 
#sobre,
#Habilidades,
#projetos,
#contato {
    padding: 30px;
    margin: 20px;
}
 
/* ========================================
   CABEÇALHO
   ======================================== */
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-direction: row;
}
   
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    margin: 10px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header :hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px (0, 0, 0, 0.2);
}

 
/* ========================================
   PROJETOS
   ======================================== */
 
.Projetos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 20px;
}
 
/* ========================================
   RODAPÉ
   ======================================== */
 
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
}
 
footer p {
    color: white;
}
